body{
margin: 0;
font-family: sans-serif;
padding: 0;
box-sizing: border-box;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#posts div{
display: flex;
align-items: center;
justify-content: space-between;
}
#posts{
width: 400px;
display: flex;
flex-direction: column;
}

.options{
    display: flex;
    gap: 25px;
}

i{
cursor: pointer;
}
#msg{
color: red;
}